 <!-- banner-section start -->
<section class="banner-section">
    <div class="overlay">
        <div class="banner-content d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-7 col-md-10">
                        <div class="main-content">
                            <div class="top-area section-text justify-content-center">
                                <h4 class="sub-title">Simple. Transparent. Secure</h4>
                                <h1 class="title">Banking Solutions</h1>
                                <p class="xlr">Products and services designed to help you reach your financial goals.</p>
                            </div>
                            <div class="bottom-area">
                                <a href="https://pixner.net/bankio/register.html" class="cmn-btn">Open Account</a>
                                <a href="https://pixner.net/bankio/contact.html" class="cmn-btn second">Get in touch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="partner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3 col-3">
                    <h4>Partners</h4>
                </div>
                <div class="col-md-9 col-9">
                    <div class="partner-box partner-carousel slick-initialized slick-slider">
                        <div class="slick-list draggable">
                            <div class="slick-track" style="opacity: 1; width: 3162px; transform: translate3d(-1488px, 0px, 0px);">
                                <div class="slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" tabindex="-1" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="./partner-2.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-3.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-4.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-5.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-2.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-1.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-2.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-3.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-4.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-5.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide slick-active" data-slick-index="5" aria-hidden="false" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-2.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide slick-cloned slick-active" data-slick-index="6" aria-hidden="false" tabindex="-1" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-1.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide slick-cloned slick-active" data-slick-index="7" aria-hidden="false" tabindex="-1" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-2.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" tabindex="-1" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-3.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" tabindex="-1" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-4.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" tabindex="-1" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-5.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" tabindex="-1" style="width: 186px;">
                                    <div>
                                        <div class="single" style="width: 100%; display: inline-block;">
                                            <div class="item">
                                                <img src="Libraries/img/partner-2.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->

@code {

}
