<header class="header-section">
    <div class="overlay">
        <div class="container">
            <div class="row d-flex header-area">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="https://pixner.net/bankio/index.html">
                        <img src="./img/logo.png" class="logo" alt="logo">
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
                        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="https://pixner.net/bankio/index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="https://pixner.net/bankio/about.html">About Us</a>
                            </li>
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" data-bs-auto-close="outside">Product</a>
                                <ul class="dropdown-menu main-menu shadow show">
                                    <li class="dropend sub-navbar">
                                        <a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Account</a>
                                        <ul class="dropdown-menu sub-menu shadow show">
                                            <li><a class="nav-link" href="https://pixner.net/bankio/account.html">Account</a></li>
                                            <li><a class="nav-link" href="https://pixner.net/bankio/account-details.html">Account Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="nav-link" href="https://pixner.net/bankio/product.html">Product</a></li>
                                    <li class="dropend sub-navbar">
                                        <a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Loan</a>
                                        <ul class="dropdown-menu sub-menu shadow show">
                                            <li><a class="nav-link" href="https://pixner.net/bankio/business-loan.html">Business Loans</a></li>
                                            <li><a class="nav-link" href="https://pixner.net/bankio/educations-loan.html">Educations Loans</a></li>
                                            <li><a class="nav-link" href="https://pixner.net/bankio/home-loan.html">Home Loans</a></li>
                                            <li><a class="nav-link" href="https://pixner.net/bankio/car-loan.html">Car Loans</a></li>
                                            <li><a class="nav-link" href="https://pixner.net/bankio/personal-loan.html">Personal Loans</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="nav-link" href="https://pixner.net/bankio/card.html">Card</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" data-bs-auto-close="outside">Pages</a>
                                <ul class="dropdown-menu main-menu shadow show">
                                    <li><a class="nav-link" href="https://pixner.net/bankio/affiliate.html">Affiliate</a></li>
                                    <li class="dropend sub-navbar">
                                        <a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Blog</a>
                                        <ul class="dropdown-menu sub-menu shadow show">
                                            <li><a class="nav-link" href="https://pixner.net/bankio/blog-list.html">Blog List</a></li>
                                            <li><a class="nav-link" href="https://pixner.net/bankio/blog-grid.html">Blog Grid</a></li>
                                            <li><a class="nav-link" href="https://pixner.net/bankio/blog-single.html">Blog Single</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="nav-link" href="https://pixner.net/bankio/remittance.html">Remittance</a></li>
                                    <li><a class="nav-link" href="https://pixner.net/bankio/career-single.html">Career Single</a></li>
                                    <li><a class="nav-link" href="https://pixner.net/bankio/faqs.html">Faqs</a></li>
                                    <li><a class="nav-link" href="https://pixner.net/bankio/login.html">Login</a></li>
                                    <li><a class="nav-link" href="https://pixner.net/bankio/password-set.html">Password Set</a></li>
                                    <li><a class="nav-link" href="https://pixner.net/bankio/varify-number.html">Varify Number</a></li>
                                    <li><a class="nav-link" href="https://pixner.net/bankio/otp.html">OTP</a></li>

                                    <li><a class="nav-link" href="https://pixner.net/bankio/terms-conditions.html">Terms Conditions</a></li>
                                    <li><a class="nav-link" href="https://pixner.net/bankio/privacy-policy.html">Privacy Policy</a></li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://pixner.net/bankio/contact.html">Contact Us</a>
                            </li>
                        </ul>
                        <div class="right-area header-action d-flex align-items-center">
                            <a href="https://pixner.net/bankio/register.html" class="cmn-btn">Open Account</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>


@code {
   
}
