@page "/testimonials"

<section class="testimonials">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp" style="visibility: hidden; animation-name: none;">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="section-header text-center">
                        <h5 class="sub-title">Testimonials</h5>
                        <h2 class="title">Don't take our word for it, take theirs</h2>
                        <p>Take a look at our past customers success stories. Our goal is to help you grow</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonials-carousel slick-initialized slick-slider slick-dotted">
                    <button type="button" class="slick-prev pull-left slick-arrow" style=""><i class="icon-a-left-arrow" aria-hidden="true"></i></button><div class="slick-list draggable">
                        <div class="slick-track" style="opacity: 1; width: 11664px; transform: translate3d(-1296px, 0px, 0px);">
                            <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 1296px;">
                                <div>
                                    <div class="slide-item" style="width: 100%; display: inline-block;">
                                        <div class="single-slide">
                                            <div class="thumb">
                                                <img src="./testomonial.png" alt="image" class="max-un">
                                            </div>
                                            <div class="content">
                                                <div class="top-content">
                                                    <img src="./quote.png" alt="quote">
                                                    <h5>“I love Bankio, they're the best”</h5>
                                                    <p class="xxlr">
                                                        “ It's been 2 years since I found Bankio, and it's such a relief as a small
                                                        business
                                                        owner to not worry about unnecessary fees. I lost my credit card once, and
                                                        the
                                                        service was so prompt that I was back to work the next day!
                                                    </p>
                                                </div>
                                                <div class="bottom-content">
                                                    <h5 class="name">Sophie Moore</h5>
                                                    <span class="country"> United Kingdom</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" role="tabpanel" id="slick-slide20" style="width: 1296px;">
                                <div>
                                    <div class="slide-item" style="width: 100%; display: inline-block;">
                                        <div class="single-slide">
                                            <div class="thumb">
                                                <img src="./testomonial.png" alt="image" class="max-un">
                                            </div>
                                            <div class="content">
                                                <div class="top-content">
                                                    <img src="./quote.png" alt="quote">
                                                    <h5>“I love Bankio, they're the best”</h5>
                                                    <p class="xxlr">
                                                        “ It's been 2 years since I found Bankio, and it's such a relief as a small
                                                        business
                                                        owner to not worry about unnecessary fees. I lost my credit card once, and
                                                        the
                                                        service was so prompt that I was back to work the next day!
                                                    </p>
                                                </div>
                                                <div class="bottom-content">
                                                    <h5 class="name">Sophie Moore</h5>
                                                    <span class="country"> United Kingdom</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide21" style="width: 1296px;">
                                <div>
                                    <div class="slide-item" style="width: 100%; display: inline-block;">
                                        <div class="single-slide">
                                            <div class="thumb">
                                                <img src="./testomonial.png" alt="image" class="max-un">
                                            </div>
                                            <div class="content">
                                                <div class="top-content">
                                                    <img src="./quote.png" alt="quote">
                                                    <h5>“I love Bankio, they're the best”</h5>
                                                    <p class="xxlr">
                                                        “ It's been 2 years since I found Bankio, and it's such a relief as a small
                                                        business
                                                        owner to not worry about unnecessary fees. I lost my credit card once, and
                                                        the
                                                        service was so prompt that I was back to work the next day!
                                                    </p>
                                                </div>
                                                <div class="bottom-content">
                                                    <h5 class="name">Sophie Moore</h5>
                                                    <span class="country"> United Kingdom</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide22" style="width: 1296px;">
                                <div>
                                    <div class="slide-item" style="width: 100%; display: inline-block;">
                                        <div class="single-slide">
                                            <div class="thumb">
                                                <img src="./testomonial.png" alt="image" class="max-un">
                                            </div>
                                            <div class="content">
                                                <div class="top-content">
                                                    <img src="./quote.png" alt="quote">
                                                    <h5>“I love Bankio, they're the best”</h5>
                                                    <p class="xxlr">
                                                        “ It's been 2 years since I found Bankio, and it's such a relief as a small
                                                        business
                                                        owner to not worry about unnecessary fees. I lost my credit card once, and
                                                        the
                                                        service was so prompt that I was back to work the next day!
                                                    </p>
                                                </div>
                                                <div class="bottom-content">
                                                    <h5 class="name">Sophie Moore</h5>
                                                    <span class="country"> United Kingdom</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide23" style="width: 1296px;">
                                <div>
                                    <div class="slide-item" style="width: 100%; display: inline-block;">
                                        <div class="single-slide">
                                            <div class="thumb">
                                                <img src="./testomonial.png" alt="image" class="max-un">
                                            </div>
                                            <div class="content">
                                                <div class="top-content">
                                                    <img src="./quote.png" alt="quote">
                                                    <h5>“I love Bankio, they're the best”</h5>
                                                    <p class="xxlr">
                                                        “ It's been 2 years since I found Bankio, and it's such a relief as a small
                                                        business
                                                        owner to not worry about unnecessary fees. I lost my credit card once, and
                                                        the
                                                        service was so prompt that I was back to work the next day!
                                                    </p>
                                                </div>
                                                <div class="bottom-content">
                                                    <h5 class="name">Sophie Moore</h5>
                                                    <span class="country"> United Kingdom</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 1296px;">
                                <div>
                                    <div class="slide-item" style="width: 100%; display: inline-block;">
                                        <div class="single-slide">
                                            <div class="thumb">
                                                <img src="./testomonial.png" alt="image" class="max-un">
                                            </div>
                                            <div class="content">
                                                <div class="top-content">
                                                    <img src="./quote.png" alt="quote">
                                                    <h5>“I love Bankio, they're the best”</h5>
                                                    <p class="xxlr">
                                                        “ It's been 2 years since I found Bankio, and it's such a relief as a small
                                                        business
                                                        owner to not worry about unnecessary fees. I lost my credit card once, and
                                                        the
                                                        service was so prompt that I was back to work the next day!
                                                    </p>
                                                </div>
                                                <div class="bottom-content">
                                                    <h5 class="name">Sophie Moore</h5>
                                                    <span class="country"> United Kingdom</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 1296px;">
                                <div>
                                    <div class="slide-item" style="width: 100%; display: inline-block;">
                                        <div class="single-slide">
                                            <div class="thumb">
                                                <img src="./testomonial.png" alt="image" class="max-un">
                                            </div>
                                            <div class="content">
                                                <div class="top-content">
                                                    <img src="./quote.png" alt="quote">
                                                    <h5>“I love Bankio, they're the best”</h5>
                                                    <p class="xxlr">
                                                        “ It's been 2 years since I found Bankio, and it's such a relief as a small
                                                        business
                                                        owner to not worry about unnecessary fees. I lost my credit card once, and
                                                        the
                                                        service was so prompt that I was back to work the next day!
                                                    </p>
                                                </div>
                                                <div class="bottom-content">
                                                    <h5 class="name">Sophie Moore</h5>
                                                    <span class="country"> United Kingdom</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 1296px;">
                                <div>
                                    <div class="slide-item" style="width: 100%; display: inline-block;">
                                        <div class="single-slide">
                                            <div class="thumb">
                                                <img src="./testomonial.png" alt="image" class="max-un">
                                            </div>
                                            <div class="content">
                                                <div class="top-content">
                                                    <img src="./quote.png" alt="quote">
                                                    <h5>“I love Bankio, they're the best”</h5>
                                                    <p class="xxlr">
                                                        “ It's been 2 years since I found Bankio, and it's such a relief as a small
                                                        business
                                                        owner to not worry about unnecessary fees. I lost my credit card once, and
                                                        the
                                                        service was so prompt that I was back to work the next day!
                                                    </p>
                                                </div>
                                                <div class="bottom-content">
                                                    <h5 class="name">Sophie Moore</h5>
                                                    <span class="country"> United Kingdom</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 1296px;">
                                <div>
                                    <div class="slide-item" style="width: 100%; display: inline-block;">
                                        <div class="single-slide">
                                            <div class="thumb">
                                                <img src="./testomonial.png" alt="image" class="max-un">
                                            </div>
                                            <div class="content">
                                                <div class="top-content">
                                                    <img src="./quote.png" alt="quote">
                                                    <h5>“I love Bankio, they're the best”</h5>
                                                    <p class="xxlr">
                                                        “ It's been 2 years since I found Bankio, and it's such a relief as a small
                                                        business
                                                        owner to not worry about unnecessary fees. I lost my credit card once, and
                                                        the
                                                        service was so prompt that I was back to work the next day!
                                                    </p>
                                                </div>
                                                <div class="bottom-content">
                                                    <h5 class="name">Sophie Moore</h5>
                                                    <span class="country"> United Kingdom</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><button type="button" class="slick-next pull-right slick-arrow" style=""><i class="icon-b-right-arrow" aria-hidden="true"></i></button><ul class="section-dots" style="" role="tablist"><li class="slick-active" role="presentation"><a class="dot" role="button" title="1 of 4"><span class="string">1/4</span></a></li><li role="presentation"><a class="dot" role="button" title="2 of 4"><span class="string">2/4</span></a></li><li role="presentation"><a class="dot" role="button" title="3 of 4"><span class="string">3/4</span></a></li><li role="presentation"><a class="dot" role="button" title="4 of 4"><span class="string">4/4</span></a></li></ul>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    
}
